@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    border-bottom:solid 1px black;
}
.header > a{
    border-bottom: 0px !important;
}

/* src/index.css */

.checkbox:checked {
    background-color: #2563EB; /* اللون blue-600 */
    border-color: #2563EB; /* اللون blue-600 */
  }
  
  .checkbox:checked:after {
    content: "";
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border: solid white;
    border-width: 0 0.2rem 0.2rem 0;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @keyframes slideDown {
    0% { transform: translateY(-100px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }
  
  @keyframes slideUp {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(-100px); opacity: 0; }
  }
  
  .animate-slide-down {
    animation: slideDown 0.5s forwards, slideUp 0.5s ease-out 2.5s forwards;
  }
  .slider-slide {
    transition: transform 0.5s ease-in-out;
  }
  
  .slider-slide:hover {
    transform: scale(1.05);
  }
  

  .slick-prev,.slick-arrow::before {
    color: black !important;; 
    border-radius: 50%;
    margin-right: 20px;
    width: 40px;
    height: 40px;
  }
  .slick-prev, .slick-next::before {
    color: black !important; 
    border-radius: 50%;
    width: 40px;
    margin-right: 0px;
    height: 40px;
  }

.custom-input {
  border: 2px solid transparent; 
  border-bottom: 2px solid #3B82F6; 
  padding: 0.5rem; 
  transition: border-color 0.3s ease; 
  border-radius: 0px;
  background: none;
}

.custom-input:focus {
  border-color: #3B82F6; 
  border-bottom: 2px solid #3B82F6; 
  outline: none;
  border-radius: 0.375rem;
}

#ProductName{
  margin-left: 4px;
  margin-top: 4px;
}

.tags{
  background: none;
}

.sliderTitle::before{
  content: '';
  width: 1px;
  height: 20px;
  padding: 6px;
  position: relative;
  left: -6px;
  background: black;
}
.cart{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.product-rate::before{
content: '';
width: 50px;
height: 110px;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
background-color: #dbeafe;
opacity: 0.5;
}

  
  
  